#general-info{   
    background:var(--main-color);
    padding : var(--space-3) 0px;
    color: white;
    
}
.gi-contact span{    
    margin: 0px var(--space-2);
    color: white;
   }

.gi-contact span i{
    margin-right: var(--space-1);
}
.gi-social i{
    margin: 0px var(--space-1);
}
#navbar{
    padding: var(--space-3) 0px;
    background: white;
}  
.navbar-navigation ul li a{
    padding: 0px var(--space-2);
    font-size: 1,2em;
    font-weight: 700;
}
#font{

}
.font-item{
    height: 800px;
    background-image:url(../Images/slider-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: aliceblue;
}
h4{
    color: aliceblue;
}
.font-item-content{
    color: var(--color-white);
    padding-right: 35%;
}
.font-item-content h1{
    font-size: 4em;
    text-transform: capitalize;
}
.font-item-content h4{
    font-size: 2em;
}